/*Grundstil för hela sidan*/


/*Header Solsystemet*/
header h1 {
    font-size: 3rem;
    margin: 20px 0;
    color: white;
    font-weight: 600;
}
/*Header solaris*/
header h2 {
    font-size: rem;
    margin: 20px 0;
    color: rgb(228, 160, 24)

}


/*Body styling*/
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0a0f25, #1c2a4a);/* Svart bakgrund */
  color: white;/* Vit text */
  text-align: center;/* centrerad på sidan */
}


/* Solsytemet rubrik*/
h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}


/* Utforska vårt solsystem text*/
p {
  font-size: 1.2rem;
  opacity: 0.8;
}


/* Planet styling */
/* Planet lista styling*/
.planet-nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
/* Planet knapp styling */
.planet-nav button {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}


/* Planet knapp hover effekt*/
.planet-nav button:hover {
  opacity: 1;
  transform: scale(1.2);
}


/*Enskild planet-knapp*/
.planet {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s; /*hover*/
}
.planet:hover {
  background: #222; /*mörk effekt vid hover*/
}
/* Planet info sektion styling*/
.planet-info {
  margin-top: 30px;
}


/* Info-sektionen, gömd tills att den klickas på */
.hidden {
    display: none;
}


.planet0 {
  width: 118px;
  border-radius: 50%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}