header h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
    font-weight: 600;
}
header h3 {
    font-size: rem;
    margin: 0;
    color: rgb(228, 160, 24)

}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0a0f25, #1c2a4a);
  color: white;
  text-align: center;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  opacity: 0.8;
}

.planet-nav ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.planet-nav button {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.planet-nav button:hover {
  opacity: 1;
  transform: scale(1.2);
}