/*Grundstil för hela sidan*/

.planet-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  position: relative;
}


/*Body styling*/
body {
  width: 100vw;
  height: 100vh;
  margin: 0; /* Tar bort standardmarginalen */
  background: linear-gradient(90deg, #0c164d, #190B22);/* Svart bakgrund med gradvis blå */
  font: 'Lora', serif; /* Grundfont för sidan */
  color: white;/* Vit text */
  text-align: center;/* centrerad på sidan */
  letter-spacing: 1px; /* Lite avstånd mellan bokstäverna */
  overflow-y: hidden; /* Ingen scroll på y-axeln */
}

/*Header Solsystemet*/
header h1 {
    font-size: 3rem;
    font: secular one, sans-serif;
    margin: 5px 0;
    margin-right: 20px;
    margin-bottom: 0;
    color: white;
    font-weight: 600;
    text-align: right;
    padding: 30px;
    padding-bottom: 10px;
}
/*Header solaris*/
header h2 {
    font-size: rem;
    font: lora, serif;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: -50px;
    color: rgb(228, 160, 24);
    text-align: right;
    padding: 10px;
    padding-right: 30px;
    padding-top: 5px;
}

/* Solsystemet */
/* Planet-styling */
.solar-system {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.planets {
  display: flex;
  align-items: center;
  gap: 40px;
}

.planet {
  border: none;
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.solen {
  /*mått rektangel*/
  width: 59px;
  height: 370.06px;
  left: 0px;
  top: 39.97px;
  /*mått cirkel*/
  width: 639px;
  height: 639px;
  left: -580px;
  top: -94.5px;
  box-shadow: 0px 0px 250px rgba(255, 208, 41, 0.2); /* skugga för att ge en glödande effekt */
  display: inline-flex;
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  background: #FFD029;
  font-size: 0;
  position: absolute;
}
.solen:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.merkurius { 
  border-radius: 50%;/* gör att planeter ser ut som cirklar */
  display: inline-flex;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  width: 7px;
  height: 7px;
  left: 101.5px;
  top: 221.5px;
  background: #888888;
  font-size: 0;
  position: absolute;
}
.merkurius:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.venus {
  border-radius: 50%;  /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  width: 13px;
  height: 13px;
  left: 140px;
  top: 218.5px;
  background: #E7CDCD;
  font-size: 0;
  position: absolute;
}
.venus:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.jorden {
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  width: 14px;
  height: 14px;
  left: 187.5px;
  top: 218px;
  background: #428ED5;
  font-size: 0;
  position: absolute;
}
.jorden:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.mars {
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  font-size: 0;
  width: 7px;
  height: 7px;
  left: 236.5px;
  top: 221.5px;
  background: #EF5F5F;
  position: absolute;
}
.mars:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.jupiter {
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  font-size: 0;
  width: 94px;
  height: 94px;
  left: 288px;
  top: 178px;background: #E29468;
  position: absolute;
}
.jupiter:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.saturnus {
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  font-size: 0;
  width: 72px;
  height: 72px;
  left: 437.5px;
  top: 189px;
  background: #C7AA72;
  position: absolute;
}
.saturnus:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}
.saturnus-ring {
width: 109,115px;
height: 2.75px;
left: 425,5px;
top: 196,53px;

background: rgba(255, 255, 255, 0.4);
transform: rotate(-30deg);
}

.uranus {
  border-radius: 50%; /* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  font-size: 0;
  width: 33px;
  height: 33px;
  left: 568px;
  top: 208.5px;
  background: #C9D4F1;
  position: absolute;
}
.uranus:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

.neptunus {
  border-radius: 50%;/* gör att planeter ser ut som cirklar */
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  font-size: 0;
  width: 33px;
  height: 33px;
  left: 653px;
  top: 208.5px;
  background: #7A91A7;
  position: absolute;
}
.neptunus:hover {
  transform: scale(1.2);     /* hover-effekt enligt design */
  opacity: 0.9;
}

/* Info-sektionen, gömd tills att den klickas på */
.hidden {
    display: none;
}


/*Overlay*/
#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(4, 5, 76, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}